@charset "UTF-8";
#about .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }
  @media screen and (max-width: 991px) {
    #about .top {
      margin-bottom: 85px; } }
  @media screen and (max-width: 479px) {
    #about .top {
      margin-bottom: 66px; } }
  #about .top .text, #about .top .pic {
    display: inline-block; }
  #about .top .text {
    padding-right: 40px; }
    #about .top .text .main-title em {
      font-size: 1em;
      margin-left: 10px; }
    #about .top .text ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 30px; }
      @media screen and (max-width: 991px) {
        #about .top .text ul {
          margin-top: 25.5px; } }
      @media screen and (max-width: 479px) {
        #about .top .text ul {
          margin-top: 19.8px; } }
      #about .top .text ul li {
        display: inline-block;
        margin-right: 30px; }
        @media screen and (max-width: 991px) {
          #about .top .text ul li {
            margin-right: 15px; } }
    #about .top .text .icon {
      font-size: 24px;
      color: #00A88C;
      -webkit-transition: color 0.25s ease-in-out;
      transition: color 0.25s ease-in-out; }
      #about .top .text .icon i::before {
        margin: 0; }
      @media screen and (min-width: 992px) {
        #about .top .text .icon:hover {
          color: #0F1145; } }
    #about .top .text .btn {
      font-size: 1em;
      min-height: 40px;
      padding: 4px 20px;
      margin-top: 20px; }
  @media screen and (min-width: 1200px) {
    #about .top .text {
      width: 80%; }
    #about .top .pic {
      padding-left: 6%;
      padding-right: 4%; } }
  @media screen and (max-width: 1199px) {
    #about .top {
      margin-bottom: 60px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #about .top .pic {
      margin-top: 70px; } }
  @media screen and (max-width: 767px) {
    #about .top {
      position: relative; }
      #about .top .text {
        width: 100%; }
        #about .top .text p {
          height: 120px;
          padding-right: 170px; }
      #about .top .pic {
        width: 200px;
        position: absolute;
        right: 0;
        bottom: 0; } }
  @media screen and (max-width: 600px) {
    #about .top .pic {
      width: 180px; } }
  @media screen and (max-width: 479px) {
    #about .top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #about .top .text {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        padding-right: 0; }
        #about .top .text p {
          height: auto;
          padding-right: 0; }
      #about .top .pic {
        width: 80%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        position: static;
        margin-top: -20px;
        margin-bottom: 20px; } }

#about .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  margin-bottom: 80px; }
  @media screen and (max-width: 991px) {
    #about .about-info {
      margin-bottom: 68px; } }
  @media screen and (max-width: 479px) {
    #about .about-info {
      margin-bottom: 52.8px; } }
  #about .about-info .title {
    font-size: 20px;
    font-weight: 500;
    color: #0F1145; }
  #about .about-info .inner {
    font-weight: 300; }
    #about .about-info .inner p {
      font-size: 17px;
      line-height: 2; }
  #about .about-info.my-info p {
    font-size: 18px;
    color: #404040; }
  #about .about-info.education label {
    font-size: 20px;
    font-weight: 400;
    color: #0F1145; }
  #about .about-info.education ul li {
    line-height: 26px;
    margin-bottom: 10px; }
  #about .about-info.education .learn-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px; }
    #about .about-info.education .learn-item label {
      width: 22%;
      min-width: 22%; }
    #about .about-info.education .learn-item p {
      font-size: 17px;
      color: #404040; }
    #about .about-info.education .learn-item label, #about .about-info.education .learn-item p {
      line-height: 1.4; }
  @media screen and (max-width: 991px) {
    #about .about-info.education .learn-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-bottom: 20px; }
      #about .about-info.education .learn-item label {
        width: 100%;
        margin-bottom: 4px; } }
  #about .about-info.skill .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #about .about-info.skill ul {
    margin-right: 80px; }
    @media screen and (max-width: 991px) {
      #about .about-info.skill ul {
        margin-right: 40px; } }
    #about .about-info.skill ul li {
      color: #404040;
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 10px; }
      #about .about-info.skill ul li:last-child {
        margin-bottom: 0; }
    #about .about-info.skill ul:last-child {
      margin-right: 0; }
  @media screen and (min-width: 1200px) {
    #about .about-info .title {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 180px;
              flex: 0 0 180px; }
    #about .about-info .inner {
      width: calc(100% - 180px); } }
  @media screen and (max-width: 1199px) {
    #about .about-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 60px; }
      #about .about-info .title {
        margin-bottom: 20px; }
      #about .about-info.skill ul li:last-child {
        margin-bottom: 10px; } }

#about .job_item {
  margin-bottom: 80px; }
  @media screen and (max-width: 991px) {
    #about .job_item {
      margin-bottom: 68px; } }
  @media screen and (max-width: 479px) {
    #about .job_item {
      margin-bottom: 52.8px; } }
  #about .job_item .date {
    color: #909090;
    margin: 10px 0; }
  #about .job_item p, #about .job_item .job_project, #about .job_item .job_project a {
    color: #606060; }

#about .job_company {
  font-size: 20px;
  font-weight: 400; }
  #about .job_company span:first-child {
    border-right: 2px solid #0F1145;
    padding-right: 20px; }
    @media screen and (max-width: 991px) {
      #about .job_company span:first-child {
        padding-right: 10px; } }
  #about .job_company span:last-child {
    padding-left: 20px; }
    @media screen and (max-width: 991px) {
      #about .job_company span:last-child {
        padding-left: 10px; } }
  #about .job_company span.after-circle-text_small {
    padding-left: 0;
    padding-right: 0;
    border-right: none; }
  @media screen and (max-width: 479px) {
    #about .job_company {
      font-size: 18.6px; } }

#about .job_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #F8F1DF;
  margin-top: 16px; }
  @media screen and (max-width: 991px) {
    #about .job_project {
      margin-top: 13.6px; } }
  @media screen and (max-width: 479px) {
    #about .job_project {
      margin-top: 10.56px; } }
  #about .job_project .label {
    font-weight: 400;
    line-height: 1;
    border-right: 1px solid #606060;
    padding-right: 20px;
    margin-right: 20px; }
  #about .job_project ul li {
    line-height: 1;
    display: inline-block; }
    #about .job_project ul li::after {
      content: '・'; }
    #about .job_project ul li:last-child::after {
      display: none; }
  @media screen and (min-width: 992px) {
    #about .job_project ul a:hover {
      color: #00A88C; } }
  @media screen and (max-width: 600px) {
    #about .job_project .label {
      margin: 8px;
      margin-left: 0; }
    #about .job_project ul {
      margin: 0 -4px; }
      #about .job_project ul li {
        margin: 4px; } }
