#home {
  overflow: hidden; }
  #home .text {
    width: 50%;
    min-width: 436px; }
    #home .text p {
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 20px; }
    #home .text .btn {
      margin-top: 50px; }
      @media screen and (max-width: 991px) {
        #home .text .btn {
          margin-top: 42.5px; } }
      @media screen and (max-width: 479px) {
        #home .text .btn {
          margin-top: 33px; } }
  #home .pic {
    min-width: 60%; }
  @media screen and (min-width: 1441px) {
    #home .container {
      max-width: 1560px; } }
  @media screen and (max-width: 1680px) {
    #home .container {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media screen and (min-width: 1200px) {
    #home .container {
      padding-top: 5%;
      padding-bottom: 4%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 80%; }
    #home .pic {
      min-width: 60%; } }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    #home .container {
      max-width: 81%; } }
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    #home .container {
      max-width: 87%; } }
  @media screen and (max-width: 1366px) {
    #home .pic {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 38%;
              flex: 0 0 38%;
      width: 38%;
      margin-right: 0;
      min-width: 57%; } }
  @media screen and (max-width: 1199px) {
    #home .container {
      padding-top: 12%; }
    #home .text {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px; }
      #home .text br {
        display: none; }
    #home .pic {
      width: 106%;
      margin: -24px 0 60px -3%; } }
  @media screen and (max-width: 1199px) {
    #home .text {
      position: relative; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #home .btn {
      position: absolute;
      max-width: 30%;
      right: -24px;
      bottom: -30px; } }
  @media screen and (max-width: 991px) {
    #home .text {
      min-width: auto; }
      #home .text p {
        font-size: 18px; }
      #home .text .btn {
        right: 20px;
        bottom: -30px;
        width: 45%; }
    #home .pic {
      width: 70%;
      margin: 0;
      position: fixed;
      right: -4%;
      bottom: -5%; } }
  @media screen and (max-width: 600px) {
    #home .btn {
      position: static; } }
  @media screen and (max-width: 320px) {
    #home .text p {
      font-size: 16px;
      line-height: 1.6; }
    #home .text .btn {
      margin-top: 20px; } }
  #home .main-title em {
    font-size: 1em;
    margin-left: 10px; }
